#logo{
  top: 11px;
  position: relative;
}

#clubPic {
    float:right;
    margin-top:20px;
    margin-left:10px;
    width:300px;
}
#clubName {
    font-size: 40px;
}
#clubMembers {
    font-size:0.4em;
    color:gray;
    margin-left: 10px;
    vertical-align:middle;
}
#schoolName {
    font-style:italic;
}
#clubDetails {
    font-size:0.8em;
}
.jumbotron {
    padding-bottom:10px;
}
#addPackageBtn {
    text-align: right;
}
#packages > li > span {
    float:right;
}